apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: healthz
  namespace: integration
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: healthz
  minReplicas: 1
  maxReplicas: 5
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 60


