elasticsearch:
  replicas: 1
  minimumMasterNodes: 1
kibana:
  service:
    type: ClusterIP
  ingress:
    enabled: true
    className: nginx
    hosts:
      - kibana.example.com
logstash:
  enabled: true
  replicas: 1
