apiVersion: v1
kind: Namespace
metadata:
  name: platform-system
---
apiVersion: v1
kind: Namespace
metadata:
  name: data
---
apiVersion: v1
kind: Namespace
metadata:
  name: integration
---
apiVersion: v1
kind: Namespace
metadata:
  name: workflows
---
apiVersion: v1
kind: Namespace
metadata:
  name: ml
---
apiVersion: v1
kind: Namespace
metadata:
  name: observability
---
apiVersion: v1
kind: Namespace
metadata:
  name: security
